html {
    font-size: 10px;
    background: url('do-not-enter.jpg') center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: 'Rock Salt', cursive;
  }

  .instruct {
      text-align: center;
      margin-top: 64px;
      font-size: 16px;
      color: #ff9800;
      text-shadow: 2px 2px 6px #361002;
      font-family: 'Rock Salt', cursive;
  }
  
  .keys {
    font-family: 'Rock Salt', cursive;
    display: flex;
    flex: 1;
    /* min-height: 100vh;
    align-items: center;*/
    justify-content: center; 
  }
  
  .key {
    border: .4rem solid #b7410e;
    border-radius: 16px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    font-family: 'Rock Salt', cursive;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ff9800;
    box-shadow: 0 0 1rem #b7410e;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
    font-family: 'Rock Salt', cursive;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ff9800;
  }
  